body {
    font-family: Arial, Helvetica, sans-serif; 
    min-height: 100vh; 
    position: relative; 
    margin: 0 auto; 
    padding-bottom: 60px;
}
.container-fluid {
    display: inline-block; 
    position: relative;
}
.navbar-brand { 
    font-family: "Pacifico", "cursive";
}
#flowers {
    opacity: 0.85;
    display: table;
    height:100%;
    position:relative;
    width: 100%;
    background-size: cover;
}
#mainText {
    position: absolute; 
    top: 20%; 
    right: 07%; 
    background: rgba(194, 186, 186, 0.15); 
    color: black; width: 45%; height: 60%;
    text-align: right; 
    font-size: 6vw; 
    padding-top: 5%; 
    padding-right: 5%;
}
.titles {
    font-family: 'Roboto Condensed', sans-serif; 
    text-align: center;
}
h1 {
    font-size: 5vw;
}
#projectTitle {
    font-size: 5vw;
    text-align: center;
}
#aboutMe {
    /* margin: 15px;  */
    font-family: Arial, Helvetica, sans-serif; 
    padding:30px; 
    text-align: left; 
    background-color: rgba(194, 186, 186, 0.15);
    font-size: 2vw;
    padding-top: 60px;
}
#contactTitle {
    font-size: 5vw;
    text-align: center;
}
.divider {
    padding-bottom: 40px;
}
#contactForm {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    background: #ffffff;
    border: 1px solid #dddddd;
    line-height: 2;
    margin-top: -70px;
}
#message {
    height: 150px;
}
.btn {
    border-color: black;
}
#headshot {
    margin: auto;
    width: 80%;
    height: 80%;
    padding-bottom: 20px;
    padding-top: 40px;
}
.projectLinks {
    color: black;
}
.icons {
    font-size: 3rem;
}
#home {
    /* background: url("assets/images/bg4.jpg") no-repeat center fixed; */
    /* display: table; */
    /* height:100%; */
    position:relative;
    /* width: 100%; */
    /* background-size: cover; */
}
a {
    color: 
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
